body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* th{
  background-color: #b303b6;
  color: white;
}

th{
  padding: 1em !important;
}
td{
  padding: 0.5em !important;
}
th, td {
  border: 0 !important;
  height: 1.5em;
  text-align: center;
  border-top: 0;
}
tr:nth-child(odd){background-color: #f2f2f2}
tr:nth-child(even){background-color: white}

td img{
  height: 1.5em;
  border-radius: 50%;
} */
